.project_left{
    padding-right: 5rem;
   
}
.project_details{
    .projct_box{
        border-radius: 0.4rem;
        img{
            width: 100%;
            border-radius: 0.4rem;
            height: 45rem;
            object-fit: cover;
            margin-bottom: 2rem;
        }
    }
    
}
.project_right_info{
    background-color: $secondary_color;
    padding: 2rem;
    border-radius: 0.4rem;
    h3{
        margin-bottom: 2rem;
    }
    ul{
        li{
            display: flex;
            justify-content: space-between;
            border-bottom: $border-height-sm solid $border_color;
            margin-bottom: 1rem;
            padding-bottom: 1rem;
            label{
                font-weight: 500;
                color: $black_color;
            }
            &:last-child{
                border: 0;
                padding: 0;
                margin: 0;
            }
        }
    }
}
.date__box{
    display: flex;
    gap: 1.5rem;
    margin-bottom: 1rem;
    .date{
        span{
            font-size: $font-sm;
            color: $black_color;
            font-weight: 500;
        }
    }
    .map{
        label{
            color: $primary_color;
            font-weight: 600;
        }
    }
}